html {
	font-family: Noto Sans, "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333;
}
h1, h2, h3, h4, h5, h6, .post-title {
	font-family: Noto Sans, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.post-title {
	font-size: 2em;
}
a {
	color: #0762d4;
}

.header {
	font-family: Space Mono, Menlo, Consolas, Monaco, "Lucida Console", monospace;
	font-size: 5em;
	margin: 0;
}
.header a {
	text-decoration: none;
	color: #333;
}
header p {
	font-size: 2.5em;
	margin: 0;
	color: #0762d4;
}
.inverse {
	background: #0762d4;
	color: #fff;
	padding: 0 .3em;
}

.content {
	margin: 2em 10%;
}

.post {
	font-family: Space Mono, Menlo, Consolas, Monaco, "Lucida Console", monospace;
	margin-bottom: 1em;
	font-size: 1.3em;
}

.spacer {
	margin: .4em;
}