// common

html {
	height: 100vh;
	color: $fg;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 4em 20%;
	@media screen and (max-width: 720px) {
		padding: 10px;
	}
}

a {
	color: $a;
	transition: .5s all;
	text-decoration: none;
	&:hover {
		color: darken($a, 30%);
	}
}
