// display

/// margins

header {
	margin-bottom: 3em;
	text-align: center; 
}

.body {
	margin-bottom: 5em;
}

article {
	margin-bottom: 2em;
}

.description {
	margin-bottom: 1em;
}

.avatar {
	border-radius: 100px;
}