// nav

nav a {
	display: inline-block;
	color: #111;
	letter-spacing: 1px;
	padding: 1em;
	margin-bottom: 7vh;
	border-top: 4px transparent solid;
	text: {
		decoration: none;
		transform: uppercase;
	}
	font: {
		weight: 500;
	}
	&:hover {
		border-top: 4px #000 solid;
	}
}