// type

h1 {
	font-size: 170px;
	letter-spacing: -.05em;
	font-weight: 500;
	margin: 0;
	color: $logo;
	@media screen and (max-width: 720px) {
		font-size: 72px;
	}
}

.subtitle {
	font-size: 48px;
	@media screen and (max-width: 720px) {
		font-size: 32px;
	}
}

p {
	margin: 0;
	font: {
		family: 'helvetica neue', helvetica, arial, sans-serif;
		size: 1.6em;
		weight: 300;
	}
}

h2 {
	font-size: 1.7em;
	font-weight: 400;
	margin: 0;
}

h2 a {
	color: $fg;
}

.heading {
	font-size: 1.3em;
	margin: 0;
	color: $h;
	text-transform: uppercase;
}
