// Oliver's SCSS

/// Variables

$bg: #fff;
$fg: #3C3C3C;
$a: #00A6F4;
$h: #3C3C3C;
$hs: #00A6F4;
$logo: #00A6F4;

/// Imports

@import 'normalize';
@import 'common';
@import 'display';
@import 'type';
